wheel
numpy<2
tqdm
pytorch_lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy==1.0.3
imageio
git+https://github.com/JonathonLuiten/diff-gaussian-rasterization-w-depth
timm
dacite
lpips
e3nn==0.5.1
plyfile
tabulate
svg.py
hydra-core
mmcv
kornia==0.6.7
